.chat {
  flex: 2;
  .chatInfo {
    display: flex;
    background-color: #d7ccc8;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    padding: 5px;

    .chatIcons {
      display: flex;
      gap: 10px;
    }
  }
  .messages {
   
    padding: 10px;
    height: calc(100% - 150px);
    overflow:auto;
    .message{
     display: flex;
     gap: 10px;
     margin-bottom: 20px;

     .messageInfo{
      display: flex;
      flex-direction: column;
      span{
        color :rgb(79, 80, 82) ; 
      }
        img{
            width: 24px;
            height: 24px;
            border-radius: 50% ;
            object-fit: cover;
        }
     }
     .messageContent{
     display: flex;
     max-width: 80%;
     flex-direction: column;
     gap: 12px;
     img{
      width: 35%;
      border: 2px solid #4c4207;
      border-radius: 0px 12px 12px 12px;
     }
     p{
      background-color: #4c4207;
      color: whitesmoke;
      padding: 10px;
      border-radius: 0px 12px 12px 12px;
      max-width: max-content;
     }
     
     }

     &.owner{
      flex-direction: row-reverse;
      .messageContent{
        align-items: flex-end;

        img{
          border: 2px solid #4e342e;
          border-radius: 12px 0px 12px 12px;
         }
        p{
          border-radius: 12px 0px 12px 12px;
          background-color: #4e342e;
          
        }
      }
     }
    }
  }



  .input {
    display: flex;
    height: 50px;
    padding: 10px;
    background-color: aliceblue;
    justify-content: space-between;
    align-items: center;

   input{
    width: 100%;
    outline: none;
    font-size: medium;
    border: none;

   }
   .send{
    display: flex;
   justify-content: flex-end;
   align-items: center;
    gap: 10px;
    cursor: pointer;

    button{
        background-color: rgb(138, 115, 11);
        color: aliceblue;
        border-radius: 3px;
        padding: 5px;
        border: none;
    }
   }
  }
}
